.hover-container {
  visibility: hidden;
  position: absolute;
  top: 0;
  right: 5%;
  background-color: white;
  margin: 5px;
  padding: 5px;
}

tr:hover .hover-container {
  visibility: visible;
}
