@use '~@angular/material' as mat;

$my-primary: mat.define-palette(mat.$indigo-palette, 500);
$my-accent: mat.define-palette(mat.$gray-palette, A400);

$my-theme: mat.define-light-theme((
  color: (
    primary: $my-primary,
    accent: $my-accent,
  )
));

@include mat.all-component-themes($my-theme);

@import "styles/directives.scss";

:root {
  --background: #f0f0f0;
  --border: #b5b5b5;
  --text: #848484;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

svg {
  width: 20px;
  height: 20px;
}





