@import "styles/directives.css";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

svg {
  width: 20px;
  height: 20px;
}

button:hover {
  color: red;
  background-color: beige;
}


