@import "styles/directives.css";

:root {
  --background: #a8a7a7;
  --border: #b5b5b5;
  --text: #848484;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

svg {
  width: 20px;
  height: 20px;
}



