.mat-form-field {
  font-size: 14px;
  width: 70% !important;
  margin: 0 15% !important;
}

.icon {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 0;
  right: 15px;
}
.icon:hover {
  color: #848484;
}

table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

td, th {
  width: fit-content;
  text-transform: capitalize;
}

tr {
  position: relative;
}

th {
  z-index: 0 !important;
}

.mat-row .mat-cell {
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
  cursor: pointer;
}

.mat-row:hover .mat-cell {
  border-color: black;
}
